html {}

body {
  background-image: url("images/9deb08cbac490f5fa43032499f61c581.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.title {
  font-weight:30;
font-family: "avenir";
    font-style: italic;
  font-size: 18;
  color: ghostwhite;
  letter-spacing: 2;
  position: absolute;
  top: 520;
  left: 0;
  right: 0;
  text-align: bottom;
  margin-bottom: 0;
  padding: 50px;
}

.navbar-bg {
  margin-top: 0;
  min-width: 1000px;
  background-color: whitesmoke;
  height: 45px;
}

.logo {
  background-image: url("images/Travel-Night-globe.png");
  background-size: contain;
  width: 50px;
  height: 50px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: auto;
  margin: auto;
}

.option {
  position: relative;
  font-family: "avenir";
  font-size: 17px;
  color: #21618C;
  line-height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  text-align: left;
}

.option:hover {
  color: darkblue;
}

.bg {
  background-size: contain;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}

.cities {
  display: flex;
}
